.brief .awards {
  @media (max-width: 425px) {
    position: static;

    margin-bottom: initial;
    padding-top: initial;

    background: initial;
  }

  .section__inner {
    display: flex;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__left {
    display: flex;
    justify-content: center;
    width: 41.7%;

    @media (max-width: 1024px) {
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 25px;
    }

    @media (max-width: 768px) {
      margin-bottom: 15px;
    }
  }

  &__right {
    width: 58.3%;

    @media (max-width: 1024px) {
      width: 100%;
    }
  }

  &__title {
    width: 100%;
    max-width: 320px;
    padding-top: 0;

    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    text-align: left;
    color: $dark2;
    text-transform: uppercase;

    opacity: 1;

    @media (max-width: 1024px) {
      max-width: none;
    }

    @media (max-width: 768px) {
      max-width: 240px;

      font-size: 32px;
    }

    span {
      color: $gold;
    }
  }

  &__motto {
    display: block;
    width: 100%;
    max-width: 500px;
    margin-bottom: 65px;

    font-size: 24px;
    line-height: 120%;
    color: $dark2;

    @media (max-width: 1024px) {
      margin-bottom: 40px;
    }

    @media (max-width: 768px) {
      margin-bottom: 35px;

      font-size: 18px;
    }
  }

  &__list {
    position: relative;

    display: flex;
    width: max-content;
    margin: 0;
    padding: 0 73px;

    @media (max-width: 1024px) {
    }

    @media (max-width: 768px) {
      padding: 0 34px;
    }

    &.night {
      display: none;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;

      width: 43px;
      height: 112px;

      background-repeat: no-repeat;
      background-size: contain;
      transform: translateY(-50%);

      @media (max-width: 768px) {
        width: 20px;
        height: 53px;
      }
    }

    &::before {
      left: 0;

      background-image: url(../img/brief-page/awards/wreath-left.png);
    }

    &::after {
      right: 0;

      background-image: url(../img/brief-page/awards/wreath-right.png);
    }
  }

  &__item {
    display: inline-block;
    width: 100%;
    max-width: 185px;
    height: 70px;
    // position: relative;

    // display: flex;
    // align-items: center;
    // padding-left: 85px;

    @media (max-width: 768px) {
      max-width: 87px;
      height: 33px;
    }
  }

  &__item:not(:last-child) {
    margin-right: 20px;

    @media (max-width: 1024px) {
    }

    @media (max-width: 768px) {
      margin-right: 9px;
    }
  }

  &__item-img {
    height: 100%;
  }
}

body[data-theme="night"] .brief .awards {
  .awards__title,
  .awards__motto {
    color: $night-theme;
  }

  .awards__list {
    display: none;
  }

  .awards__list.night {
    display: flex;
  }

  .awards__list::before {
    background-image: url(../img/brief-page/awards/wreath-left-night.png);
  }

  .awards__list::after {
    background-image: url(../img/brief-page/awards/wreath-right-night.png);
  }
}
